.block {
    @include bgCover('../image/cocktails-3252160_1280.jpg');
    &__color {
        padding: 100px 10px 150px;
        box-sizing: border-box;
        @media (max-width: $md) {
            padding: 70px 10px 150px;
        }
        @media (max-width: $sm) {
            padding: 50px 10px 150px;
        }
    }
    &__red {
        background-color: rgba($color: $redBlock, $alpha: 0.5);
    }
    &__blue {
        background-color: rgba($color: $blueDlock, $alpha: 0.5);
    }
    &__form {
        @include center;
        flex-direction: column;
    }
    &__item {
        font-size: 30px;
        font-weight: 700;
        line-height: 35px;
        padding-bottom: 50px;
        text-align: center;
        text-transform: uppercase;
        @media (max-width: $md) {
            font-size: 25px;
            padding-bottom: 40px;
        }
        @media (max-width: $sm) {
            font-size: 20px;
            padding-bottom: 30px;
        }
    }
    &__input {
        padding-left: 10px;
        font-size: 25px;
        color: $textColor;
        background: transparent;
        border: 1px solid$borderSeach;
    }
    &__input::placeholder {
        color: $textColor;
    }
    &__input.error {
        border: 2px solid red;
    }
    &__btn {
        margin-top: 30px;
        width: 100px;
        background: transparent;
        color: $textColor;
        border: solid 1px $borderSeach;
        font-size: 30px;
    }
    &__btn:hover {
        color: $btnSeach;
    }
    &__result {
        padding-top: 20px;
        @include center;
        flex-direction: column;
    }
    &__link {
        padding: 5px;
        text-decoration: none;
        text-align: center;
        padding-right: 15px;
        font-family: $secondary-fonts-name;
        font-size: 30px;
        line-height: 30px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: $textLink;
        @media (max-width: $md) {
            font-size: 20px;
        }
        @media (max-width: $sm) {
            font-size: 18px;
        }
    }
    &__info {
        padding: 10px;
        text-align: center;
        font-family: $secondary-fonts-name;
        font-size: 30px;
        line-height: 30px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: $textLink;
        @media (max-width: $md) {
            font-size: 20px;
        }
        @media (max-width: $sm) {
            font-size: 16px;
        }
    }
    &__text {
        font-size: 14px;
        font-family: $secondary-fonts-name;
        color: $textLink;
    }
}