        .footer {
            padding: 50px 0 50px;
            @media (max-width: 768px) {
                padding: 35px 0 35px;
            }
            @media (max-width: 576px) {
                padding: 25px 0 25px;
            }
            &__info {
                padding: 75px;
                text-align: center;
                font-family: $secondary-fonts-name;
                font-size: 14px;
                line-height: 40px;
                font-weight: 300;
                text-transform: uppercase;
                letter-spacing: 0.28em;
                color: black;
                position: relative;
                @media (max-width: 768px) {
                    padding: 50px;
                }
                @media (max-width: 576px) {
                    padding: 25px;
                }
            }
            &__info:before,
            &__shedue:before {
                top: 20px;
                left: 0;
                position: absolute;
                content: '';
                width: 371px;
                height: 4px;
                background-color: #CC0909;
                @media (max-width: 1200px) {
                    left: 50%;
                    transform: translateX(-50%);
                    width: 300px;
                    height: 2px;
                }
                @media (max-width: 992px) {
                    left: 50%;
                    transform: translateX(-50%);
                    width: 250px;
                    height: 2px;
                }
                @media (max-width: 768px) {
                    display: none;
                }
                @media (max-width: 576px) {
                    display: none;
                }
            }
            &__social {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }
            &__logo {
                width: 100%;
                @media (max-width: 992px) {
                    width: 50%;
                }
                @media (max-width: 768px) {
                    width: 60%;
                }
                @media (max-width: 576px) {
                    width: 80%;
                }
            }
            &__icons {
                padding: 20px 0 20px;
                width: 100%;
                display: flex;
                justify-content: space-around;
            }
            &__icon {
                width: 20px;
                height: 20px;
                fill: #CC0909;
            }
            &__link:hover .footer__icon {
                fill: #029BC4;
            }
            &__item {
                text-align: center;
                font-family: $secondary-fonts-name;
                font-size: 18px;
                line-height: 30px;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 0.15em;
                padding-bottom: 20px;
                @media (max-width: 768px) {
                    font-size: 16px;
                }
                @media (max-width: 576px) {
                    font-size: 14px;
                }
            }
            &__shedue {
                padding: 75px;
                @media (max-width: 768px) {
                    padding: 50px;
                }
                @media (max-width: 576px) {
                    padding: 25px;
                }
            }
            &__days {
                text-align: center;
                font-family: $secondary-fonts-name;
                font-size: 14px;
                line-height: 40px;
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 0.28em;
                color: #CC0909;
            }
            &__hours {
                text-align: center;
                font-family: $secondary-fonts-name;
                font-size: 14px;
                line-height: 40px;
                font-weight: 300;
                text-transform: uppercase;
                letter-spacing: 0.28em;
                color: #CC0909;
            }
            &__input::placeholder {
                text-align: left;
                font-family: $secondary-fonts-name;
                font-size: 16px;
                line-height: 75px;
                font-weight: 300;
                letter-spacing: 0.28em;
                color: #CC0909;
                @media (max-width: 1200px) {
                    font-size: 14px;
                }
                @media (max-width: 992px) {
                    font-size: 14px;
                }
            }
            &__input {
                background: transparent;
                padding: 15px;
                border: none;
                border-right: 2px solid #CC0909;
                @media (max-width: 1200px) {
                    padding: 10px;
                }
                @media (max-width: 992px) {
                    padding: 10px;
                }
            }
            &__btn {
                background: transparent;
                border: none;
                cursor: pointer;
            }
            &__arrow {
                width: 50px;
                height: 25px;
                fill: #CC0909;
            }
            &__btn:hover .footer__arrow {
                fill: #029BC4;
                height: 27px;
                @media (max-width: 768px) {
                    height: 20px;
                }
                @media (max-width: 576px) {
                    height: 20px;
                }
            }
            &__subcribe {
                padding: 60px 0 20px;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                @media (max-width: 768px) {
                    padding: 40px 0 15px;
                }
                @media (max-width: 576px) {
                    padding: 30px 0 10px;
                }
            }
            &__subcribe:before {
                content: '';
                width: 4px;
                height: 55px;
                top: 0;
                left: 170px;
                position: absolute;
                background-color: #CC0909;
                @media (max-width: 1200px) {
                    left: 50%;
                    transform: translateX(-50%);
                    width: 2px;
                    height: 40px;
                }
                @media (max-width: 992px) {
                    left: 50%;
                    transform: translateX(-50%);
                    width: 2px;
                    height: 35px;
                }
                @media (max-width: 768px) {
                    display: none;
                }
                @media (max-width: 576px) {
                    display: none;
                }
            }
            &__text {
                padding-top: 15px;
                text-align: center;
                font-family: $secondary-fonts-name;
                font-size: 11px;
                line-height: 40px;
                font-weight: 300;
                text-transform: uppercase;
                letter-spacing: 0.28em;
                color: black;
            }
        }