@mixin bgCover($img) {
    background-image: url($img);
    background-repeat: none;
    background-size: cover;
}

@mixin fontFace($fontFamily, $fontPath, $fontStyle: normal, $fontWeight: normal) {
    @font-face {
        font-family: $fontFamily;
        font-style: $fontStyle;
        src:url('#{$fontPath}.woff2') format('woff2'),
        url('#{$fontPath}.woff') format('woff');
    }
}

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}