.question {
    width: 100%;
    &__container {
        padding: 100px;
        max-width: 580px;
        @include center;
        flex-direction: column;
        @media (max-width: $md) {
            padding: 50px;
        }
        @media (max-width: $sm) {
            padding: 30px;
        }
    }
    &__block {
        padding: 25px 0 25px;
        border-top: 1px solid $questBorber;
    }
    &__block:last-child {
        border-bottom: 1px solid $questBorber;
    }
    &__cont {
        display: flex;
        position: relative;
    }
    &__plus {
        position: absolute;
        top: 8px;
        left: 0;
        margin: 2px;
        width: 20px;
        height: 20px;
    }
    &__open {
        display: none;
    }
    &__open.active {
        display: block;
    }
    &__close {
        display: none;
    }
    &__close.active {
        display: block;
    }
    &__minus {
        position: absolute;
        top: 8px;
        left: 0;
        margin: 2px;
        width: 20px;
        height: 20px;
    }
    &__item {
        padding: 10px;
        text-align: center;
        font-family: $secondary-fonts-name;
        font-size: 30px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: $textLink;
        @media (max-width: $md) {
            font-size: 25px;
        }
        @media (max-width: $sm) {
            font-size: 20px;
        }
    }
    &__text {
        padding-left: 35px;
        font-family: $secondary-fonts-name;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 0.28em;
        color: $textLink;
        @media (max-width: $md) {
            font-size: 16px;
        }
        @media (max-width: $sm) {
            font-size: 14px;
        }
    }
    &__answer {
        padding: 10px;
        font-family: $secondary-fonts-name;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 0.04em;
        color: $textLink;
        display: none;
        @media (max-width: $md) {
            font-size: 16px;
        }
        @media (max-width: $sm) {
            font-size: 14px;
        }
    }
    &__answer.active {
        display: block;
    }
}