.page {
    background: linear-gradient(to right, $pageRed, $pageWhite, $pageBlue);
    font-family: $default-fonts;
    font-size: $default-font-size;
    font-weight: 400;
    font-size: 16px;
    color: $blacktext;
    max-width: 1800px;
    overflow-x: hidden;
    margin: 0 auto;
    @media (max-width: $md) {
        background: linear-gradient(to right, $pageWhite, $pageBlue);
    }
    @media (max-width: $sm) {
        background: linear-gradient(to right, $pageWhite, $pageBlue);
    }
}